 /*!--------------------------------------------------------
  * Start custom UI changes
  *--------------------------------------------------------*/
 
 /* === Activity Bar === */
 .composite-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.actions-container .action-item.icon {
  margin-right: 6px !important;
}
.actions-container .action-item.icon a.action-label {
  font-size: 20px !important;
}

 /* === Explorer === */
 
 /* Remove color from explorer background label */
 .monaco-workbench .part.sidebar>.title {
	background-color: unset !important;
}

/* Secondary sidebar */
.monaco-workbench .part.auxiliarybar>.title {
	background-color: unset !important;	
}

/* Explorer section */
.monaco-pane-view .pane>.pane-header h3.title {
	font-family: "Geist Mono", monospace !important;
	font-size: 10px;
}

/* Font */
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "Geist Mono", monospace !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

/* === Status bar === */

/*Left */
#status\.host {
  font-weight: 600 !important;
}
#status\.scm\.0 {
  background: #cba6f7 !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
}

/* Right */
#status\.editor\.selection {
  background: #89b4fa !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
  text-transform: lowercase !important;
}
#status\.notifications {
  background: #a6da95 !important;
  color: #1e1e2e !important;
}

#status\.editor\.mode {
  background: #cba6f7 !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
}
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.right.last-visible-item {
	margin-right: unset !important;
}

/* === Scrollbar ===  */
.slider {
  position: absolute !important;
  right: 2px !important;
  width: 2px !important;
  left: auto !important;
}
.decorationsOverviewRuler {
  width: 5px !important;
}

 /* === Tooltips and Suggestions === */

.monaco-editor-hover,
.monaco-hover,
.suggest-widget,
.suggest-details,
.editor-widget {
  z-index: 100;
  border: 1px solid #89b4fa !important;
  border-radius: 3px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}

.suggest-widget .monaco-list-row.focused {
  background: #4f5971 !important;
}

/* === Command palette === */

.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  z-index: 100;
  border: 2px solid #89b4fa !important;
  border-radius: 6px !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}

.quick-input-widget .monaco-inputbox {
  border: 2px solid #89b4fa !important;
  padding: 5px !important;
  border-radius: 6px !important;
}

/* === Notifications === */
.notifications-toasts .monaco-list-row:hover {
  background: none !important;
}

/* === Editor widget === */
.editor-widget.find-widget.visible {
  height: fit-content !important;
  align-content: center !important;
  border: 1px solid #89b4fa !important;
  border-radius: 3px !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}
.find-part {
  margin-right: 25px !important;
}
.button.codicon.codicon-widget-close {
  margin: auto !important;
  top: 12px !important;
}

/* === Project titlebar === */
.part.titlebar > .titlebar-container > .titlebar-center > .window-title {
  display: none !important;
}
.command-center-center {
  border: none !important;
  background: transparent !important;
}

/* === Editor tabs === */
.monaco-workbench .part.editor > .content .editor-group-container > .title .editor-actions {
  display: none !important;
}

.tab {
  border-radius: 3px !important;
  margin-right: 2px !important;
  border: 1px solid #313244 !important;
  background-color: #1e1e2e !important;
  align-items: center !important;
}
.tab.active {
  font-weight: 600 !important;
  border: 1px solid #89b4fa !important;
}
.tab .monaco-icon-label {
  height: 100% !important;
  align-items: center;
}

.tabs-container {
  height: auto !important;
  margin-left: 2px;
}*/

 /*!--------------------------------------------------------
  * End custom UI changes
  *--------------------------------------------------------*/
