 /*!--------------------------------------------------------
  * Start custom UI changes
  *--------------------------------------------------------*/
 
 /* === Activity Bar === */
 .composite-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.actions-container .action-item.icon {
  margin-right: 6px !important;
}
.actions-container .action-item.icon a.action-label {
  font-size: 20px !important;
}

 /* === Explorer === */
 
 /* Remove color from explorer background label */
 .monaco-workbench .part.sidebar>.title {
	background-color: unset !important;
}

/* Secondary sidebar */
.monaco-workbench .part.auxiliarybar>.title {
	background-color: unset !important;	
}

/* Explorer section */
.monaco-pane-view .pane>.pane-header h3.title {
	font-family: "Geist Mono", monospace !important;
	font-size: 10px;
}

/* Font */
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "Geist Mono", monospace !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

/* === Status bar === */

/*Left */
#status\.host {
  font-weight: 600 !important;
}
#status\.scm\.0 {
  background: #cba6f7 !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
}

/* Right */
#status\.editor\.selection {
  background: #89b4fa !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
  text-transform: lowercase !important;
}
#status\.notifications {
  background: #a6da95 !important;
  color: #1e1e2e !important;
}

#status\.editor\.mode {
  background: #cba6f7 !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
}
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.right.last-visible-item {
	margin-right: unset !important;
}

/* === Scrollbar ===  */
.slider {
  position: absolute !important;
  right: 2px !important;
  width: 2px !important;
  left: auto !important;
}
.decorationsOverviewRuler {
  width: 5px !important;
}
